streamlit
opencv-python==4.8.1.78  # Versão estável anterior, muito robusta em Linux
numpy                    # Deixe o uv/pip resolver a melhor versão
matplotlib
pandas
av==10.0.0
streamlit-webrtc==0.45.0
scipy
plotly